body {
    background-color: #1b2432;
}

@media all and (max-width: 1080px) {

    body {
        background-color: #364863;
    }
}

@media all and (max-width: 550px) {

    body {
        background-color: #506c95;
    }
}

@media all and (max-width: 400px) {

    body {
        background-color: #7a93b8;
    }
}
